<form method="post" action="{{ path('app_bouchon_delete', {'id': bouchon.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bouchon.id) }}">
    <button class="btn">Delete</button>
</form>
