{% extends 'base.html.twig' %}

{% block title %}New GrammageCorps{% endblock %}

{% block body %}
    <h1>Create new GrammageCorps</h1>

    {{ include('grammage_corps/_form.html.twig') }}

    <a href="{{ path('app_grammage_corps_index') }}">back to list</a>
{% endblock %}
