{% extends 'base.html.twig' %}

{% block title %}Edit QuilleLongueur{% endblock %}

{% block body %}
    <h1>Edit QuilleLongueur</h1>

    {{ include('quille_longueur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_quille_longueur_index') }}">back to list</a>

    {{ include('quille_longueur/_delete_form.html.twig') }}
{% endblock %}
