{% extends 'base.html.twig' %}

{% block title %}New QuilleLongueur{% endblock %}

{% block body %}
    <h1>Create new QuilleLongueur</h1>

    {{ include('quille_longueur/_form.html.twig') }}

    <a href="{{ path('app_quille_longueur_index') }}">back to list</a>
{% endblock %}
