{% extends 'base.html.twig' %}

{% block title %}New Bouchon{% endblock %}

{% block body %}
    <h1>Create new Bouchon</h1>

    {{ include('bouchon/_form.html.twig') }}

    <a href="{{ path('app_bouchon_index') }}">back to list</a>
{% endblock %}
