{% extends 'base.html.twig' %}

{% block title %}Edit AntenneCouleur{% endblock %}

{% block body %}
    <h1>Edit AntenneCouleur</h1>

    {{ include('antenne_couleur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_antenne_couleur_index') }}">back to list</a>

    {{ include('antenne_couleur/_delete_form.html.twig') }}
{% endblock %}
