{% extends 'base.html.twig' %}

{% block title %}Edit AntenneLongueur{% endblock %}

{% block body %}
    <h1>Edit AntenneLongueur</h1>

    {{ include('antenne_longueur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_antenne_longueur_index') }}">back to list</a>

    {{ include('antenne_longueur/_delete_form.html.twig') }}
{% endblock %}
