{% extends 'base.html.twig' %}

{% block title %}New AntenneLongueur{% endblock %}

{% block body %}
    <h1>Create new AntenneLongueur</h1>

    {{ include('antenne_longueur/_form.html.twig') }}

    <a href="{{ path('app_antenne_longueur_index') }}">back to list</a>
{% endblock %}
