{% extends 'base.html.twig' %}

{% block title %}New TypeCorps{% endblock %}

{% block body %}
    <h1>Create new TypeCorps</h1>

    {{ include('type_corps/_form.html.twig') }}

    <a href="{{ path('app_type_corps_index') }}">back to list</a>
{% endblock %}
